/*
Colors used:
Primary colors (Orange): rgba (192,113,23,0.9); (Yellow): rgba (209,166,66,0.9); (Blue-Grey): rgba (82,96,102,0.9)
Secondary colors (Dark-Grey): rgba (178,186,183,0.9); (Light-Grey): rgba (217,211,199,0.9)
*/
/*
Layout styling
*/
.container {
  padding: 0 15px;
}
header {
  background-color: #ffffff;
  padding: 10px 0;
  box-shadow: 0px 2px 3px 0px rgba(50, 50, 50, 0.5);
  position: fixed;
  width: 100%;
}
main {
  padding-top: 133px;
}
* {
  box-sizing: border-box;
}
body {
  font-family: 'Oswald', sans-serif;
  font-family: 'EB Garamond', serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #627a85;
}

h1, h2, h3, h4 {
  line-height: 1.4;
  font-family: 'Oswald', sans-serif;
}
h1 {
  font-size: 2.75em;
  font-weight: 600;
}

h2 {
  font-size: 2.25em;
  font-weight: 600;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}
p {
  font-family: 'EB Garamond', serif;
}
a {
  color: #c4873a;
  text-decoration: none; /* No underlining */
}
img {
  width: 100%
}
a:hover,
a:focus {
  color: #d5af65;
  text-decoration: underline;
}
a:visited { /* visited link */
  color: #c4873a;
}
a:active { /* selected link */
  color: #d5af65;
}
.button {
  display: inline-block;
  background-color: #c4873a;
  color: white !important;
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30;
  transition-duration: 0.2s opacity;
}
.button:hover {
  opacity: 0.8;
  text-decoration: none;
}
.button.contact {
  background-color: transparent;
  color: #c4873a !important;
  text-transform: uppercase;
  border: 2px solid #c4873a;
}
.button.contact:hover {
  background-color: #d5af65;
  color: #ffffff !important;
}
.logo {
  max-width: 300px;
}
.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
  border-bottom: 1px solid #d5af65;
  padding: 25px;
}
.navtoggle li:not(:last-child) {
  display: none;
}
.navtoggle, .navtoggle.responsive {
  position: relative;
}
.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 0;
}
nav > ul {
  list-style-type: none;
  padding: 0;
}
nav > ul > li {
  font-family: 'Oswald', sans-serif;
}
nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 200;
  color: #4a4a4a;
}
nav > ul > li > a:visited {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 200;
  color: #c4873a;
}
nav > ul > li > a:hover {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 200;
  color: #c4873a;
}
nav > ul > li > a:active {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 200;
  color: #d5af65;
}
#logo {
  max-width: 300px;
}
#hero-section {
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}
#work-section .row {
  padding-bottom: 25px; border-bottom: 1px solid #4a4a4a;
}
#hero-section h1 {
  text-align: center; /* Centers text */
  padding-top: 200px;
}
#about-section h1 {
  text-align: center;
  padding-top: 85px;
}
#project-section h1 {
  text-align: center;
}
#contact {
  text-align: center;
  padding-top: 85px;
}
#contact .row {
  display: inline-block;
}
.animation {
  width: 100%;
  max-width: 100%;
  height: auto;
}
@keyframes color-change {
  0% {fill: #edc655;}
  50% {fill: #fcffad;}
  100% {fill: #f76414;}
}
.sun {
  animation: 4s color-change infinite alternate linear;
}
@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}
.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}
@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}
.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}
/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 641px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }
  .navtoggle li:not(:last-child) {
  display: inline-block;
}
.navtoggle li:last-child {
  display: none;
}
  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }
  nav > ul > li {
    display: inline-block;
    font-family: 'Oswald', sans-serif;
  }
  body {
    font-size: 18px;
  }
  #logo {
    min-width: 641px;
  }
  #hero-section {
    text-align: center;
  }
  #hero-section span {
    display: block;
  }
  #work-section h2 {
    text-align: center;
  }
  #work-section {
    text-align: left;
  }
  #work-section h3 {
    margin-top: 0;
  }
  .col-md-6 {
  width: 50%;
  }
  [class*="col-"] {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
  }
  .row::after {
  content: "";
  clear: both;
  display: table;
}
}
/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
header {
  text-align: unset;
  padding: 20px 0 13px;
}
.navtoggle li:not(:last-child) {
  display: inline-block;
}
.navtoggle li:last-child {
  display: none;
}
nav {
  width: auto;
  float: right;
  margin-top: 4px;
}
nav > ul > li {
  display: inline-block;
  font-family: 'Oswald', sans-serif;
}
body {
  font-size: 18px;
}
#logo {
  min-width: 641px;
}
#hero-section {
  text-align: center;
}
#hero-section span {
  display: block;
}
#work-section h2 {
  text-align: center;
}
#work-section {
  text-align: left;
}
#work-section h3 {
  margin-top: 0;
}
.col-lg-7 {
width: 60%;
}
.col-lg-5 {
width: 40%;
}
[class*="col-"] {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}
.row::after {
content: "";
clear: both;
display: table;
}
}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}
