/*
Colors used:
Primary colors (Orange): rgba (192,113,23,0.9); (Yellow): rgba (209,166,66,0.9); (Blue-Grey): rgba (82,96,102,0.9)
Secondary colors (Dark-Grey): rgba (178,186,183,0.9); (Light-Grey): rgba (217,211,199,0.9)
*/
body {
  background-color: #ffffff;
  font-family: 'Oswald', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #627a85
}

h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}
